.contactFormContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
}

.input,
.textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus {
    border-color: #007bff;
}

.textarea {
    height: 150px;
    resize: vertical;
}

.submitButton {
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.submitButton.disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
.submitButton:disabled:hover{
    background-color: #ccc;
    cursor: not-allowed;
}
.submitButton:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 25px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, white) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1s infinite steps(10);
}

@keyframes l4 {
    to {
        transform: rotate(1turn)
    }
}

/* Responsive Design */
@media (max-width: 600px) {
    .contactFormContainer {
        padding: 15px;
    }

    .submitButton {
        font-size: 1rem;
        padding: 10px 15px;
    }
}