.carouselContainer {
    width: calc(100% - 20px);
    margin: auto;
    margin: 10px;
    margin-bottom: 50px;
}

.carouselImage {
    height: 450px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .carouselContainer {
        width: calc(100% - 10px);
        margin: 5px;
    }

    .carouselContainer :global(.slick-dots) {
        width: 60%;
        overflow-y: auto;
        white-space: nowrap;
        scrollbar-width: none;
        max-width: 60%;
        margin: auto;
        left: 20%;
    }

    .carouselImage {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .carouselContainer {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }

    .carouselImage {
        height: 250px;
    }
}