.OurClient .head {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.OurClient .container {
    display: flex;
    gap: 30px 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 50px 50px;
}

@media (max-width: 768px) {
    .OurClient .container {
        margin: 0 20px 20px;
        gap: 30px 50px;
    }
}