:root {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.whyChooseUs .container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.whyChooseUs .head {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.whyChooseUs .image {
    z-index: 1;
}

.whyChooseUs .card {
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.whyChooseUs .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
}

.whyChooseUs .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.whyChooseUs .card:hover .overlay {
    transform: scale(6) translateZ(0);
}

.whyChooseUs .overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 78px;
    left: 140px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.whyChooseUs .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.whyChooseUs .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: opacity 0.3s ease-out;
}

.whyChooseUs .card:hover .circle:after {
    background: var(--bg-color-light);
}

.whyChooseUs .itemhead {
    font-size: 22px;
    color: #4C5656;
    font-weight: 700;
    margin-top: 30px;
    z-index: 1;
    margin-bottom: 10px;
    transition: color 0.3s ease-out;
}

.whyChooseUs .subtext {
    font-size: 16px;
    color: #4C5656;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-out;
    text-align: center;
    padding: 10px 30px;
    z-index: 1;
}

.whyChooseUs .card:hover .subtext {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .whyChooseUs .card {
        width: 320px;
        height: 320px;
    }

    .whyChooseUs .card .subtext {
        opacity: 1;
        transform: translateY(0);
    }
}