.About .head {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.About .content {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin: 0 50px 50px;
    text-align: center;
}

@media (max-width: 768px) {
    .About .content {
        margin: 0 20px 20px;
    }
}