.Testimonial {
    margin-bottom: 50px;
}

.testimonialContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    margin: auto;
    max-width: 1250px;
}

.head {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
}

.testimonialCard {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 30px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.testimonialCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

}

.testimonialCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    z-index: 1;
    pointer-events: none;
    transform-origin: top left;
    transition: none;
    z-index: 2;
}

.testimonialCard:hover::before {
    animation: runningBorder 1s linear forwards;
}

@keyframes runningBorder {
    0% {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }

    100% {
        top: 0;
        left: 100%;
        width: 100%;
        height: 2px;
    }
}

.testimonialImage {
    flex-shrink: 0;
    margin-bottom: 20px;
    text-align: center;
}

.testimonialImage img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}

.testimonialContent {
    flex-grow: 1;
    text-align: center;
}

.customerName {
    font-size: 1.4em;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.customerLocation {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;
}

.testimonialText {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.testimonialRating {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.star {
    color: #dcdcdc;
    font-size: 1.5em;
}

.star.filled {
    color: #ff9900;
}

@media screen and (max-width: 768px) {
    .testimonialCard {
        padding: 20px;
        max-width: calc(100% - 20px);
        margin: 0 10px;
        width: calc(100% - 20px);
    }

}